@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F4EE;
  --foreground: #111F5B;
  --font-default: var(--font-solanel), Arial, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 300; 
}

h1 {
  font-weight: 500; 
  letter-spacing: -0.05em;
}

h2, h3, h4, h5, h6  {
  font-weight: 700; 
}

.cursor-mail {
  cursor: url('/mail.svg'), pointer;
}